# Introduction to pandas

In [1]:
# imports
import pandas as pd
import numpy as np

## Pandas Dataframes

### create a dataframe with random data

In [2]:
df = pd.DataFrame(np.random.randn(5, 4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  1.940410 -0.332317  1.545259  0.059714
1 -0.839912  0.376141 -0.158381  0.358148
2 -0.816047  1.969123  0.059128 -0.423891
3 -1.671420  1.219982  1.784673  1.280161
4 -0.774600 -0.209410  0.912058 -1.250596

### create a dataframe with a dictionary

In [3]:
df2 = pd.DataFrame({
    'A': 1.,
    'B': pd.Timestamp('20130102'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'
}, index=list(range(4)))
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

### check the data types of the columns

In [4]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

### check the rows names (samples)

In [5]:
df2.index

Index([0, 1, 2, 3], dtype='int64')

### check the columns names (features)

In [6]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

### check the values

In [7]:
df2.values

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

### dataset shape and size

In [8]:
df2.shape, df2.size

((4, 6), 24)

### check the first 2 rows

In [9]:
df2.head(2)

# or 

df2[:2]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo

### check the last 2 rows

In [10]:
df2.tail(2)

# or

df2[-2:]

     A          B    C  D      E    F
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

### check the summary statistics

In [11]:
df2.describe()

         A                    B    C    D
count  4.0                    4  4.0  4.0
mean   1.0  2013-01-02 00:00:00  1.0  3.0
min    1.0  2013-01-02 00:00:00  1.0  3.0
25%    1.0  2013-01-02 00:00:00  1.0  3.0
50%    1.0  2013-01-02 00:00:00  1.0  3.0
75%    1.0  2013-01-02 00:00:00  1.0  3.0
max    1.0  2013-01-02 00:00:00  1.0  3.0
std    0.0                  NaN  0.0  0.0

In [12]:
df2.describe(include='all')

          A                    B    C    D     E    F
count   4.0                    4  4.0  4.0     4    4
unique  NaN                  NaN  NaN  NaN     2    1
top     NaN                  NaN  NaN  NaN  test  foo
freq    NaN                  NaN  NaN  NaN     2    4
mean    1.0  2013-01-02 00:00:00  1.0  3.0   NaN  NaN
min     1.0  2013-01-02 00:00:00  1.0  3.0   NaN  NaN
25%     1.0  2013-01-02 00:00:00  1.0  3.0   NaN  NaN
50%     1.0  2013-01-02 00:00:00  1.0  3.0   NaN  NaN
75%     1.0  2013-01-02 00:00:00  1.0  3.0   NaN  NaN
max     1.0  2013-01-02 00:00:00  1.0  3.0   NaN  NaN
std     0.0                  NaN  0.0  0.0   NaN  NaN

In [13]:
df2.describe(include=[np.number])

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

## read a csv file

In [14]:
df3 = pd.read_csv('data/exxample_data.csv', index_col=0, header=0, sep=',')

FileNotFoundError: [Errno 2] No such file or directory: 'data/exxample_data.csv'

### save the dataframe to a csv file

In [ ]:
df3.to_csv('data/example_data.csv')

## Missing data

In [15]:
# create a dataframe with missing data (150 samples and 5 features)
df_missing = pd.DataFrame(np.random.randn(150, 5), columns=['A', 'B', 'C', 'D', 'E'])
# random missing values in different columns
df_missing.loc[::5, 'A'] = np.nan # every 5th value in column A is missing
df_missing.loc[::3, 'B'] = np.nan # every 3rd value in column B is missing
df_missing.loc[::4, 'C'] = np.nan # every 4th value in column C is missing
df_missing.loc[::6, 'D'] = np.nan # every 6th value in column D is missing

df_missing.head(10)

          A         B         C         D         E
0       NaN       NaN       NaN       NaN -0.455692
1 -0.847524 -0.539101  0.039715  0.062924  0.063662
2  0.616525  0.341849 -1.020932 -1.125998 -1.060317
3  1.987212       NaN  0.658694  0.703849  1.034852
4  0.481938 -1.527169       NaN  0.983536  0.062352
5       NaN -0.370082 -0.045308  0.480935  0.338193
6 -0.388989       NaN -1.381707       NaN  1.075858
7 -1.039196  0.228237 -2.107756 -1.272633 -0.837189
8 -0.654426 -0.847466       NaN -1.142761 -0.133406
9  1.343383       NaN  1.898495  0.723508  0.163324

### check the missing values

In [16]:
df_missing.isnull().sum()

A    30
B    50
C    38
D    25
E     0
dtype: int64

### drop the rows with missing values

In [17]:
df_missing2 = df_missing.copy()
df_missing2.dropna(inplace=True)
df_missing2.head(10)

           A         B         C         D         E
1  -0.847524 -0.539101  0.039715  0.062924  0.063662
2   0.616525  0.341849 -1.020932 -1.125998 -1.060317
7  -1.039196  0.228237 -2.107756 -1.272633 -0.837189
11 -1.675578  0.796555  1.342759 -0.102713 -0.398467
13  0.283476 -0.596936  0.864663 -0.964457  0.672835
14  1.556229  0.893049 -0.422731 -1.806348  2.670318
17  1.625067 -1.460898 -0.555522  0.221300 -0.813732
19 -0.861862  1.318282 -0.702961  0.220646 -0.267139
22  0.175287  0.672433 -1.021211  0.943533 -0.055009
23 -0.494689  0.358090 -1.329082  1.241389 -0.801836

In [18]:
df_missing2.isnull().sum()

A    0
B    0
C    0
D    0
E    0
dtype: int64

In [19]:
df_missing2.shape

(60, 5)

### fill the missing values with the mean of the column

In [20]:
df_missing3 = df_missing.copy()
df_missing3.fillna(df_missing3.mean(), inplace=True) 
# for the median, mode or a specific values use df_missing3.median(), df_missing3.mode() or df_missing3.fillna(0)

In [21]:
df_missing3.head(10)

          A         B         C         D         E
0  0.055540  0.128041 -0.025071  0.081219 -0.455692
1 -0.847524 -0.539101  0.039715  0.062924  0.063662
2  0.616525  0.341849 -1.020932 -1.125998 -1.060317
3  1.987212  0.128041  0.658694  0.703849  1.034852
4  0.481938 -1.527169 -0.025071  0.983536  0.062352
5  0.055540 -0.370082 -0.045308  0.480935  0.338193
6 -0.388989  0.128041 -1.381707  0.081219  1.075858
7 -1.039196  0.228237 -2.107756 -1.272633 -0.837189
8 -0.654426 -0.847466 -0.025071 -1.142761 -0.133406
9  1.343383  0.128041  1.898495  0.723508  0.163324

In [22]:
df_missing3.isnull().sum()

A    0
B    0
C    0
D    0
E    0
dtype: int64

In [23]:
df_missing3.shape

(150, 5)

In [24]:
df_missing3.describe()

                A           B           C           D           E
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     0.055540    0.128041   -0.025071    0.081219    0.040525
std      0.867819    0.818251    0.933839    0.869466    0.960444
min     -2.154478   -2.729418   -3.179536   -2.337839   -2.236438
25%     -0.387863   -0.189987   -0.480136   -0.298749   -0.601209
50%      0.055540    0.128041   -0.025071    0.081219    0.018553
75%      0.566340    0.486843    0.346621    0.589297    0.671198
max      2.573037    2.728873    2.714967    2.930326    2.670318

# Data inputation with sklearn

In [25]:
from sklearn.impute import SimpleImputer, KNNImputer

In [26]:
df_sklearn = df_missing.copy()

### SimpleImputer is a basic strategy to impute missing values using the mean, median or most frequent value of the column

In [27]:
imputer = SimpleImputer(strategy='mean') # or 'median' or 'most_frequent'
data_imputed = imputer.fit_transform(df_sklearn)
data_imputed = pd.DataFrame(data_imputed, columns=df_sklearn.columns)
data_imputed

            A         B         C         D         E
0    0.055540  0.128041 -0.025071  0.081219 -0.455692
1   -0.847524 -0.539101  0.039715  0.062924  0.063662
2    0.616525  0.341849 -1.020932 -1.125998 -1.060317
3    1.987212  0.128041  0.658694  0.703849  1.034852
4    0.481938 -1.527169 -0.025071  0.983536  0.062352
..        ...       ...       ...       ...       ...
145  0.055540  0.065341 -1.279443 -2.184804 -0.073396
146  0.427174 -0.197033 -0.402172 -0.287067 -0.358000
147 -0.606441  0.128041 -1.262994 -0.364245  0.202697
148  0.500573  0.449947 -0.025071  0.297096  1.465195
149 -0.238047  0.873605 -0.637022  1.362326  0.582715

[150 rows x 5 columns]

In [28]:
data_imputed.isnull().sum()

A    0
B    0
C    0
D    0
E    0
dtype: int64

## KNNImputer is a more advanced strategy that uses the k-nearest neighbors to impute missing values based on the similarity of the samples in the feature space.

In [29]:
knn_imputer = KNNImputer(n_neighbors=3)
fake_y = np.random.randint(0, 2, size=(150, 1))
data_imputed = knn_imputer.fit_transform(df_sklearn, fake_y)
data_imputed = pd.DataFrame(data_imputed, columns=df_sklearn.columns)
data_imputed

            A         B         C         D         E
0   -0.788363  0.591292  0.832302  0.063763 -0.455692
1   -0.847524 -0.539101  0.039715  0.062924  0.063662
2    0.616525  0.341849 -1.020932 -1.125998 -1.060317
3    1.987212  0.913885  0.658694  0.703849  1.034852
4    0.481938 -1.527169 -1.297398  0.983536  0.062352
..        ...       ...       ...       ...       ...
145  1.260412  0.065341 -1.279443 -2.184804 -0.073396
146  0.427174 -0.197033 -0.402172 -0.287067 -0.358000
147 -0.606441  0.464178 -1.262994 -0.364245  0.202697
148  0.500573  0.449947  0.777387  0.297096  1.465195
149 -0.238047  0.873605 -0.637022  1.362326  0.582715

[150 rows x 5 columns]

In [30]:
data_imputed.isnull().sum()

A    0
B    0
C    0
D    0
E    0
dtype: int64

In [31]:
data_imputed.describe()

                A           B           C           D           E
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     0.083549    0.177379   -0.013362    0.069204    0.040525
std      0.901625    0.876712    1.008644    0.887972    0.960444
min     -2.154478   -2.729418   -3.179536   -2.337839   -2.236438
25%     -0.469098   -0.435807   -0.671349   -0.402090   -0.601209
50%      0.086526    0.223587   -0.005537    0.088170    0.018553
75%      0.642184    0.705108    0.697636    0.637274    0.671198
max      2.573037    2.728873    2.714967    2.930326    2.670318