# Data Preprocessing Exercices

In [7]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [8]:
# load the wines dataset (datasets/wines.csv)
# add code here
wines = pd.read_csv("../../datasets/wines.csv", header = 0, sep = ",")
wines

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,NaN,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,NaN,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,NaN,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [9]:
# check for missing values in the dataset
# add code here
wines.isna().sum()

alcohol                         15
malic_acid                       0
ash                             23
alcalinity_of_ash                0
magnesium                        0
total_phenols                    0
flavanoids                       0
nonflavanoid_phenols             0
proanthocyanins                  0
color_intensity                  0
hue                              0
od280/od315_of_diluted_wines     0
proline                          0
target                           0
dtype: int64

In [10]:
# if any, impute the missing values with the mean of the column
# add code here
wines2 = wines.copy()
wines2.fillna(wines2.median(), inplace=True)
wines2 = pd.DataFrame(wines2)
wines2.head(5)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.36,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,13.05,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [11]:
# scale the dataset using two different scaling methods
# add code here

# Standard Scalling
scaler = StandardScaler()
wines2_standard = scaler.fit_transform(wines2)
wines2_standard = pd.DataFrame(wines2_standard, columns = wines2.columns)
wines2_standard.head(5)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,1.596471,-0.562250,0.256591,-1.169593,1.913905,0.808997,1.034819,-0.659563,1.224884,0.251717,0.362177,1.847920,1.013009,-1.213944
1,0.258122,-0.499413,-0.851795,-2.490847,0.018145,0.568648,0.733629,-0.820719,-0.544721,-0.293321,0.406051,1.113449,0.965242,-1.213944
2,0.206147,0.021231,-0.010951,-0.268738,0.088358,0.808997,1.215533,-0.498407,2.135968,0.269020,0.318304,0.788587,1.395148,-1.213944
3,0.063216,-0.346811,0.524132,-0.809251,0.930918,2.491446,1.466525,-0.981875,1.032155,1.186068,-0.427544,1.184071,2.334574,-1.213944
4,0.310096,0.227694,1.938280,0.451946,1.281985,0.808997,0.663351,0.226796,0.401404,-0.319276,0.362177,0.449601,-0.037874,-1.213944

In [12]:
# add code here

# Normalizer
normalizer = Normalizer()
wines2_normalizer = normalizer.fit_transform(wines2)
wines2_normalizer = pd.DataFrame(wines2_normalizer, columns = wines2.columns)
wines2_normalizer.head(5)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,0.013264,0.001594,0.002265,0.014542,0.118383,0.002610,0.002852,0.000261,0.002135,0.005257,0.000969,0.003654,0.992738,0.0
1,0.012513,0.001687,0.002029,0.010617,0.094794,0.002512,0.002616,0.000246,0.001213,0.004152,0.000995,0.003223,0.995336,0.0
2,0.011063,0.001984,0.001984,0.015636,0.084906,0.002354,0.002724,0.000252,0.002362,0.004775,0.000866,0.002665,0.996176,0.0
3,0.008791,0.001314,0.001684,0.011317,0.076120,0.002593,0.002351,0.000162,0.001469,0.005254,0.000579,0.002324,0.996969,0.0
4,0.017775,0.003477,0.003853,0.028193,0.158418,0.003759,0.003611,0.000524,0.002443,0.005800,0.001396,0.003934,0.986753,0.0

In [14]:
# perform feature selection using two different methods
# add code here

# KBest
x = wines2_standard.drop('alcohol', axis = 1)
y = wines2_standard['alcohol']

kbest = SelectKBest(score_func = f_regression, k = 4)
data = kbest.fit_transform(x, y)

names = x.columns.values[kbest.get_support()]
data = pd.DataFrame(data, columns=names)
data

     alcalinity_of_ash  color_intensity   proline    target
0            -1.169593         0.251717  1.013009 -1.213944
1            -2.490847        -0.293321  0.965242 -1.213944
2            -0.268738         0.269020  1.395148 -1.213944
3            -0.809251         1.186068  2.334574 -1.213944
4             0.451946        -0.319276 -0.037874 -1.213944
..                 ...              ...       ...       ...
173           0.301803         1.142811 -0.021952  1.373864
174           1.052516         0.969783  0.009893  1.373864
175           0.151661         2.224236  0.280575  1.373864
176           0.151661         1.834923  0.296498  1.373864
177           1.502943         1.791666 -0.595160  1.373864

[178 rows x 4 columns]

In [15]:
# add code here

# Variance Threshold
print(wines2_normalizer.var())
x = wines2_normalizer.drop('alcohol', axis = 1)

selector = VarianceThreshold(threshold = 0.002)
data = selector.fit_transform(x)

names = x.columns.values[selector.get_support()]
data = pd.DataFrame(data, columns = names)
data

alcohol                         5.478929e-05
malic_acid                      6.243472e-06
ash                             1.968650e-06
alcalinity_of_ash               2.152277e-04
magnesium                       2.924692e-03
total_phenols                   2.380766e-06
flavanoids                      3.248740e-06
nonflavanoid_phenols            1.069231e-07
proanthocyanins                 1.560350e-06
color_intensity                 1.476586e-05
hue                             5.415970e-07
od280/od315_of_diluted_wines    3.914478e-06
proline                         1.015228e-04
target                          1.857711e-06
dtype: float64

     magnesium
0     0.118383
1     0.094794
2     0.084906
3     0.076120
4     0.158418
..         ...
173   0.127251
174   0.134666
175   0.142180
176   0.141354
177   0.168723

[178 rows x 1 columns]

In [ ]:
# compare the results of the two feature selection methods